<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>EnrollmentAdmin</servlet-name>
        <servlet-class>edu.vt.cs5244.EnrollmentAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentRegistration</servlet-name>
        <servlet-class>edu.vt.cs5244.StudentRegistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentLogin</servlet-name>
        <servlet-class>edu.vt.cs5244.StudentLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseCart</servlet-name>
        <servlet-class>edu.vt.cs5244.CourseCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartCheckout</servlet-name>
        <servlet-class>edu.vt.cs5244.CartCheckout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentLogout</servlet-name>
        <servlet-class>edu.vt.cs5244.StudentLogout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EnrollmentAdmin</servlet-name>
        <url-pattern>/servlet/edu.vt.cs5244.EnrollmentAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentRegistration</servlet-name>
        <url-pattern>/servlet/edu.vt.cs5244.StudentRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentLogin</servlet-name>
        <url-pattern>/servlet/edu.vt.cs5244.StudentLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseCart</servlet-name>
        <url-pattern>/servlet/edu.vt.cs5244.CourseCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartCheckout</servlet-name>
        <url-pattern>/servlet/edu.vt.cs5244.CartCheckout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentLogout</servlet-name>
        <url-pattern>/servlet/edu.vt.cs5244.StudentLogout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
